/*
 * Theme: Neon Moon
 * Author: Alex Stubbs
 */

/*
 * Variables
 */

$font-stack: 'roboto-thin', Helvetica, sans-serif;
$background-color: #1E1E1E;

/*
* Imports/Assets
*/

@import url('../libs/bootstrap-4.0.0-beta.2/scss/bootstrap.scss');
@import url('../libs/ionicons-2.0.1/scss/ionicons.scss');

@font-face {
    font-family: 'roboto-thin';
    src: url('../assets/fonts/Roboto/Roboto-thin.ttf');
}

/*
 * Global/Window/Body
 */

body {
    background-color: $background-color;
    font-family: $font-stack;
}