/*
 * Theme: Neon Moon
 * Author: Alex Stubbs
 */
/*
 * Variables
 */
/*
* Imports/Assets
*/
@import url("../libs/skeleton.css");
@import url("../libs/ionicons-2.0.1/scss/ionicons.css");
@font-face {
  font-family: 'roboto-thin';
  src: url("../fonts/Roboto/Roboto-Thin.ttf"); }

/*
 * Helpers
 */
.nopadding-nomargin {
  padding: 0 !important;
  margin: 0 !important; }

.no-bullets {
  list-style-type: none !important; }

.mute {
  opacity: 0.5; }

.icon-justified {
  position: relative;
  top: 1.3px;
  left: 3px; }

.red {
  color: #C50F0F; }

.h-10-vh {
  height: 10vh; }

.h-15-vh {
  height: 15vh; }

.h-16-3-vh {
  height: 16.3vh; }

.h-20-vh {
  height: 20vh; }

.h-25-vh {
  height: 25vh; }

.h-30-vh {
  height: 30vh; }

.h-35-vh {
  height: 35vh; }

.h-40-vh {
  height: 40vh; }

.h-50-vh {
  height: 50vh; }

.h-60-vh {
  height: 60vh; }

.img-responsive {
  width: 100%;
  height: 100%; }

/* 
 * Overrides
 */
:focus {
  outline: 0; }

.mouse {
  cursor: default !important; }

.nomouse {
  cursor: none !important; }

/*
 * Global/Window/Body
 */
body {
  background-color: #000;
  color: #CCCCCC;
  font-family: "roboto-thin", Helvetica, sans-serif; }

.container {
  width: 100vw; }

.App {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden; }

/* 
 * Avatar
 */
.avatar {
  position: relative;
  background-color: #333;
  height: 75px;
  width: 75px; }

hr {
  border-color: #404040; }

/*
 * Console List
 */
ul.console-list {
  position: relative;
  top: 25px; }
  ul.console-list li {
    font-size: 2em;
    display: inline;
    padding: 15px; }
  ul.console-list li:not(.active) {
    opacity: 0.5; }
  ul.console-list li .active {
    font-size: 2.5em;
    opacity: 1; }

/*
 * File List
 */
.file-list {
  padding: 0px;
  margin: 20px 0 0 0;
  height: 100vh;
  overflow-y: scroll;
  background: black; }

/* 
  * Navigation Buttons
  */
.navigation-button {
  background-color: #141414;
  padding: 20px;
  margin: 15px; }

.navigation-button.shapes {
  background: #141414 url("../images/shapes_01.png") bottom right no-repeat;
  background-position-y: 130%;
  background-position-x: 110%; }

.navigation-button:last-child {
  border-bottom: 8px solid #404040; }

.right-screen {
  position: absolute;
  right: -90px;
  top: 120px;
  opacity: 0.5; }

/*
 * Profile/Avatar/Indicators
 */
.onlineIcon {
  font-size: 3rem;
  position: absolute;
  top: -20px;
  right: -10px; }

/*
 * Animation 
 */
.nav-selected {
  -moz-animation: outlineAnimation 0.9s infinite;
  -webkit-animation: outlineAnimation 0.9s infinite;
  animation: outlineAnimation 0.9s infinite; }

.nav-selected.muted {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
  outline: none; }

@keyframes outlineAnimation {
  0% {
    outline: #1f80ed ridge 1px; }
  25% {
    outline: #BA00FF ridge 1px; }
  50% {
    outline: #1f80ed ridge 1px; }
  75% {
    outline: #BA00FF ridge 1px; }
  100% {
    outline: #1f80ed ridge 1px; } }

@-webkit-keyframes outlineAnimation {
  0% {
    outline: #1f80ed ridge 1px; }
  25% {
    outline: #BA00FF ridge 1px; }
  50% {
    outline: #1f80ed ridge 1px; }
  75% {
    outline: #BA00FF ridge 1px; }
  100% {
    outline: #1f80ed ridge 1px; } }

@-moz-keyframes outlineAnimation {
  0% {
    outline: #1f80ed ridge 1px; }
  25% {
    outline: #BA00FF ridge 1px; }
  50% {
    outline: #1f80ed ridge 1px; }
  75% {
    outline: #BA00FF ridge 1px; }
  100% {
    outline: #1f80ed ridge 1px; } }

/* 
 * Color Utilities 
 */
.bg-green {
  background-color: #1EFB58; }

.color-green {
  color: #1EFB58; }
