/*
 * Theme: Neon Moon
 * Author: Alex Stubbs
 */
/*
 * Variables
 */
/*
* Imports/Assets
*/
@import url("../../libs/skeleton.css");
@import url("../../libs/ionicons-2.0.1/scss/ionicons.css");
@font-face {
  font-family: 'roboto-thin';
  src: url("../fonts/Roboto/Roboto-Thin.ttf"); }

/*
 * Helpers
 */
.nopadding-nomargin {
  padding: 0 !important;
  margin: 0 !important; }

.no-bullets {
  list-style-type: none !important; }

.icon-justified {
  position: relative;
  top: 1.3px;
  left: 3px; }

.red {
  color: #C50F0F; }

/*
 * Global/Window/Body
 */
body {
  background-color: #1E1E1E;
  color: #CCCCCC;
  font-family: "roboto-thin", Helvetica, sans-serif; }

.App {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px; }

/* 
 * Avatar
 */
.avatar {
  background-color: #333;
  width: 75px;
  height: 75px; }

hr {
  border-color: #404040; }

/*
 * Console List
 */
.console-list li {
  font-size: 2em;
  display: inline;
  padding: 15px; }

.console-list li:not(.active) {
  opacity: 0.5; }

.console-list li .active {
  font-size: 2.5em;
  opacity: 1; }

/*
 * File List
 */
.file-list {
  padding: 0px;
  margin: 20px 0 0 0;
  height: 100vh;
  background: black; }
